# Example only — copy to git-repo-secret.yaml and fill the private key.
# NEVER commit git-repo-secret.yaml (see .gitignore).
---
apiVersion: v1
kind: Secret
metadata:
  name: patroni-postgres-ha-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: git@github.com:eleeyeah/patroni-postgres-ha.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    PASTE_YOUR_DEPLOY_KEY_PRIVATE_KEY_HERE
    -----END OPENSSH PRIVATE KEY-----
  insecure: "false"
  enableLfs: "false"
